// colors
$black: #000000;
$white: #FFFFFF;
$blue: #808DB4;
$dark-blue: #2D3748;
$dark-gray: #3c4658;


//BreakPoints
$screen-xxs: 320px;
$screen-xs: 355px;
$screen-s: 550px;
$screen-sm: 767px;
$screen-m: 1028px;
$screen-l: 1280px;
$screen-xl: 1440px;
$screen-xxl: 1580px;

$screen-xxs-min: calc($screen-xxs + 1px);
$screen-xs-min: calc($screen-xs + 1px);
$screen-s-min: calc($screen-s + 1px);
$screen-sm-min: calc($screen-sm + 1px);
$screen-m-min: calc($screen-m + 1px);
$screen-l-min: calc($screen-l + 1px);
$screen-xl-min: calc($screen-xl + 1px);
$screen-xxl-min: calc($screen-xxl + 1px);